NODE_ENV="development"

AMQP_IDENTITY_SRV_COMMAND_QUEUE="identity_srv_command_queue"

AMQP_IDENTITY_SRV_EXCHANGE="identity_srv_exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="identity_srv"

EXPIRES_IN_ACCESS_TOKEN="5m"
EXPIRES_IN_REFRESH_TOKEN="10m"
ACCESS_TOKEN_SECRET="access.token.secret.key"
REFRESH_TOKEN_SECRET="refresh.token.secret.key"
