NODE_ENV="development"

AMQP_IDENTITY_SRV_COMMAND_QUEUE="identity_srv_command_queue"

AMQP_IDENTITY_SRV_EXCHANGE="identity_srv_exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="identity_srv"

LEGACY_PASSWORD_HMAC_SECRET="password_salt"
SESSION_SECRET_HASH_KEY="session.secret.hash.key"
FINGERPRINT_STORAGE_SECRET="fingerprint.storage.secret.key"
SESSION_RENEW_REQUIRED_AFTER_MS=300000
SESSION_EXPIRES_AFTER_MS=86400000
