NODE_ENV="development"

AMQP_FILE_SRV_QUEUE="file_srv"
AMQP_IDENTITY_SRV_EVENT_QUEUE="identity_srv_event_queue"
AMQP_PRODUCT_SRV_COMMAND_QUEUE="product_srv_command_queue"

AMQP_PRODUCT_SRV_EXCHANGE="product_srv_exchange"
AMQP_IDENTITY_SRV_EXCHANGE="identity_srv_exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="product_srv"
