NODE_ENV="development"

AMQP_PRODUCT_SRV_COMMAND_QUEUE="product_srv.command.queue"

# queue для событий сервиса
AMQP_PRODUCT_SRV_EVENT_QUEUE="product_srv.event.queue"

# exchange для событий сервиса
AMQP_EVENTS_EXCHANGE="event.exchange"

AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="product_srv"
