NODE_ENV="development"

PORT=5040
BASE_URL="http://localhost:5040"

AMQP_HOSTNAME="localhost"
AMQP_PORT=5672
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"
AMQP_SERVICE_QUEUE="file_srv.service.queue"
AMQP_MEDIA_SRV_COMMAND_QUEUE="media_srv.command.queue"
AMQP_EVENTS_EXCHANGE="event.exchange"
AMQP_FILE_SRV_FILE_CREATE="file_srv.file.create"
AMQP_FILE_SRV_FILE_UPDATE="file_srv.file.update"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="admin"
DATABASE_DATABASE_NAME="file_srv"
