
PORT=4040
BASE_URL=http://localhost:4040
ORIGINS="http://localhost:5173"

AMQP_HOSTNAME=localhost
AMQP_USERNAME=admin
AMQP_PASSWORD=admin

PASSWORD_SALT="password_salt"

API_USER_SRV="http://localhost:5012"
API_IDENTITY_SRV="http://localhost:5011"
