PORT=5050
ORIGINS="http://localhost:3000;http://localhost:3001;http://localhost:8088"

AMQP_HOSTNAME="localhost"
AMQP_PORT=5672
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"
AMQP_FILE_SRV_COMMAND_QUEUE="file_srv.service.queue"
AMQP_MEDIA_SRV_COMMAND_QUEUE="media_srv.command.queue"
AMQP_EVENTS_EXCHANGE="event.exchange"
AMQP_MEDIA_SRV_EVENT_QUEUE="media_srv.event.queue"
AMQP_MEDIA_OBJECT_WRITE="media.object.write"
AMQP_MEDIA_OBJECT_DELETE="media.object.delete"

MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="sellgar"
