# данные для http подключеня к api
PORT=4020
BASE_URL="http://localhost:4020"
ORIGINS="http://localhost:5173;http://10.0.2.2:8081;http://localhost:3000"

# данные cookie
AUTH_COOKIE="admin.dev"
AUTH_COOKIE_EXTEND=86400000

# данные для jwk token
PASSWORD_SALT="password_salt"
ACCESS_TOKEN_SECRET="access.token.secret.key"
REFRESH_TOKEN_SECRET="refresh.token.secret.key"
FINGERPRINT_SECRET="fingerprint.secret.key"

# данные подключения к rabbitmq
AMQP_PORT=5672
AMQP_HOSTNAME="localhost"
AMQP_USERNAME="admin"
AMQP_PASSWORD="admin"

# queue для команд сервиса
AMQP_PRODUCT_SRV_COMMAND_QUEUE="product_srv_command_queue"
AMQP_IDENTITY_SRV_COMMAND_QUEUE="identity_srv_command_queue"

# queue для событий сервиса
AMQP_ADMIN_GATEWAY_PRODUCT_SRV_EVENT_QUEUE="admin_gateway_product_srv_event_queue"
AMQP_ADMIN_GATEWAY_IDENTITY_SRV_EVENT_QUEUE="admin_gateway_identity_srv_event_queue"

# exchange для событий сервиса
AMQP_PRODUCT_SRV_EXCHANGE="product_srv_exchange"
AMQP_IDENTITY_SRV_EXCHANGE="identity_srv_exchange"
